
/* ## NAV  */

nav {
    margin: 35px 35px 20px 35px;
    padding: 0px;
    border-bottom: 0px dotted red;
    display: flex;
}

nav .title {
    flex: 1;
    font-size: 16px;
}

button{
    font-size: 14px;
    margin: 0px;
    padding: 5px 25px 5px 25px;
}
